button, html, input, select, textarea {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

body {
    background-color: #fafafa;
}

label {
    font-size: 16px;
    color: black;
}

textarea {
    border: 1px solid #9e9e9e;
    border-radius: 2px;
    margin-bottom: 6px;
    margin-top: 5px;
    min-height: 200px;
    outline: none;
    padding: 10px;
    resize: none;
}

input {
    border: 1px solid #9e9e9e !important;
    border-radius: 2px !important;
    box-sizing: border-box !important;
    margin-bottom: 6px !important;
    margin-top: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

input:focus, textarea:focus {
    border-bottom: 1px solid #03a9f4 !important;
    box-shadow: 0 1px 0 0 #03a9f4 !important;
}

nav {
	box-shadow: none;
}

nav ul a {
    font-size: 1.1rem;
}

.dropdown-content {
    margin-top: 64px;
}

.academic-logo-login {
	margin-top: 10%;
	height: 200px;
}

.academic-logo-home {
    margin-top: 5%;
    height: 300px;
}