<div layout="row" layout-align="center center" style="padding-top: 1%;">
    <div flex-gt-sm="60" flex-xs="100" flex-sm="100" layout-padding>
        <div layout="column" layout-align="center center">
            <img width="200" src="/images/calendar.png"/>
            <h1>Calendários</h1>
            <h2 style="font-weight: 300; text-align: center;">Crie calendários e convide seus colegas de turma para ficarem ligados nos eventos que estão por vir!</h2>
            <img style="padding-top: 5%;" width="200" src="/images/7dda385ed3724fea700d45a0349d9e77.png"/>
            <h1>Atividades</h1>
            <h2 style="font-weight: 300; text-align: center;">Acompanhe as atividades avaliativas criadas pelo professor, bem como suas notas!</h2>
        </div>
    </div>
</div>
