@import "~angular-material/angular-material";
@import "~fullcalendar/dist/fullcalendar.css";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

* {
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-y: auto !important;
}

body {
    overflow-y: hidden !important;
}

.bigger-font-size input, .bigger-font-size .md-text {
    font-size: 17px !important;
}

.bigger-font-size label {
    font-size: 17px !important;
}

.md-input-messages-animation span {
    font-size: 15px !important;
}

#login-academic-logo {
    width: 200px !important;
    height: 200px !important;
}

#toolbar-button-school {
    min-width: 35px;
    cursor: default;
}

#toolbar-button-school:hover {
    background-color: transparent;
}

.toolbar-menu-button {
    padding: 14px 16px;
    height: 64px;
    text-transform: none;
    font-size: 1rem;
}

.md-datepicker-input {
    min-width: 100%;
}

.md-datepicker-input-container {
    min-width: 79%;
}

.fc-day-header {
    font-weight: 300;
    height: 50px;
    vertical-align: middle !important;
}

.fc-divider {
    padding: 0 !important;
}

.fc-agenda-view .fc-day, .fc-agenda-view .fc-week {
    height: 100px !important;
}

.fc-agenda-view .fc-widget-content {
    height: 25px !important;
}

.fc-time-grid .fc-slats td {
    border-bottom: 0 !important;
}

.fc-unthemed .fc-today {
    background: #eeeeee;
}

.fc-toolbar {
    margin-bottom: 0.5em;
}

.fc-day-grid-event {
    border-radius: 2px;
    margin: 0 2px 2px 2px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.fc-event {
    font-size: 1em;
}

.fc-day {
    cursor: pointer;
}

.fc-day:hover {
    background-color: #eeeeee;
}

.fc-view-container {
    margin-bottom: 250px;
}

.md-fixed-fab {
    position: fixed;
    right: 15px;
    bottom: 23px;
    margin-bottom: 0;
    z-index: 998;
}

.md-button-full-width {
    width: 100%;
}

#calendar_save_form, #calendar-edit-form {
    margin-bottom: 0;
}

@media only screen and (min-width: 960px) {
    md-dialog {
        min-width: 700px;
        max-width: 700px;
    }
}

.state-loading {
    position: absolute !important;
    z-index: 1000 !important;
    width: 100% !important;
    height: 100% !important;
    background: white !important;
}

.state-loading .md-mode-indeterminate {
    top: 50%;
    margin-top: -100px !important;
}

.action-loading {
    position: absolute !important;
    z-index: 1000 !important;
    top: 20% !important;
    left: 50% !important;
    margin-top: -50px !important;
    margin-left: -30px !important;
}

.action-loading svg {
    margin-top: 10px !important;
    margin-left: 10px !important;
}

.action-loading .md-mode-indeterminate {
    width: 60px !important;
    height: 60px !important;
    background: white !important;
    -moz-border-radius: 70px !important;
    -webkit-border-radius: 70px !important;
    border-radius: 70px !important;
    -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 1) !important;
    -moz-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 1) !important;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 1) !important;
}

.anima.ng-enter {
    animation: slideInUp 0.5s both ease-in;
    z-index: 8888;
}

.anima.ng-leave {
    animation: slideOutLeft 0.5s both ease-in;
    z-index: 9999;
}

@keyframes rotateFall {
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(10deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: rotateZ(17deg);
    }
    60% {
        transform: rotateZ(16deg);
    }
    100% {
        transform: translateY(100%) rotateZ(17deg);
    }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to {
        transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}

/* slide in from the right */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.md-toolbar-tools > .md-button:first-child {
    margin-left: -2px;
}

.md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3 {
    margin-left: 10px !important;
}

.md-toolbar-avatar {
    border-radius: 50%;
    width: 35px;
    cursor: pointer;
}

.md-toolbar-menu-avatar {
    border-radius: 50%;
    width: 35px;
    cursor: pointer;
    float: left;
    margin-right: 20px;
}

.md-menu-profile {
    margin-right: 10px !important;
}

@media (min-width: 960px) {
    md-tooltip {
        font-size: 14px;
    }
}

.toolbar-loading {
    margin-right: 20px !important;
}

.toolbar-loading path {
    stroke: rgb(255, 255, 255) !important;
    stroke-width: 3px !important;
}

.white {
    background-color: white;
}

#loading-bar .bar {
    background: red !important;
    height: 4px !important;
}

.md-card-academic-logo {
    height: 250px !important;
    padding-top: 25px;
}

@import "~angular-loading-bar/build/loading-bar.css";
@import "~angular-material-data-table/dist/md-data-table.css";
