input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: grey; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}

/* INPUT ERRORS AND CUSTOMIZATION */

.valid+label {
    color: #4caf50 !important;
}

.input-field .error[type=text],
.input-field .error[type=password] {
    border-bottom: 1px solid #f44336  !important;
    box-shadow: 0 1px 0 0 #f44336  !important;
    color: #f44336  !important;
}

.error, .error+label {
    color: #f44336;
}

/* -------CUSTOM-------- */

.custom-dropdown-content {
    padding: 7px 0;
    min-width: 200px;
}

.custom-dropdown-content li>a, .custom-dropdown-content li>span {
    color: #7E7E7E;
}

.progress {
    background-color: #f44336 !important;
    margin: 0.0rem 0 1rem 0 !important;
}

.progress .indeterminate {
    background-color: #03a9f4 !important;
}

/*-----------------------*/

.more-options-calendar {
    cursor: pointer;
}

.collection-item .row {
    margin-bottom: 0;
}

.right-navbar-menu {
    font-weight: 300;
}

.user-name {
    margin-left: 15px;
}

.waves-circle {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
}

#calendar_date {
    margin-top: 5px;
}

.home-page-text h2, .home-page-text h5 {
    text-shadow: 3px 3px 0px rgba(150, 150, 150, 0.75);
}

#month_view, #week_view, #day_view, #today, #left_arrow, #right_arrow  {
    cursor: pointer;
}

#middle_section_header {
    padding-top: 125px;
}

#right_section_header, #left_section_header {
    padding-top: 40px;
}

#left_section_header h5 {
    margin: 0;
}

body {
    background-image: url("http://fuse-angular-material.withinpixels.com/assets/images/backgrounds/march.jpg");
    background-position-x: initial;
    background-position-y: initial;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

#calendar-header {
    background-size: auto;
    background-image: url("http://fuse-angular-material.withinpixels.com/assets/images/backgrounds/march.jpg");
    background-position: 0 50%;
    background-size: 100% 500%;
    background-repeat: no-repeat;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    margin-bottom: 0;
}

#calendar-panel {
    background-size: auto;
    background-image: url("http://fuse-angular-material.withinpixels.com/assets/images/backgrounds/march.jpg");
    background-position: 0 50%;
    background-size: 100% 1500%;
    background-repeat: no-repeat;
}



.menu-navbar-button {
    font-size: 1.75rem !important;
    margin-left: 15px;
}

.no-bold {
    font-weight: 300;
}

.icon-nav {
    margin-left: 10px;
    margin-right: 10px !important;
    font-size: 1.7rem !important;
}

.page-title {
    font-size: 1.7rem;
}

.academic-navbar {
    font-size: 1.7rem;
}

.profile-img {
    height: 64px;
}

.profile-img img {
    height: 40px;
    margin-top: 12px;
}

[type="checkbox"].filled-in:checked+label:after {
    border: 2px solid #03a9f4;
    background-color: #03a9f4;
}

.associate.filled-in:checked+label:after {
    border: 2px solid #f44336;
    background-color: #f44336;
}

.disassociate.filled-in:checked+label:after {
    border: 2px solid #4caf50;
    background-color: #4caf50;
}

a {
    color: #7E7E7E;
}

hr {
    border: 1px solid #dadada;
}

.list-table tbody tr {
    background-color: white;
}

table [type="checkbox"]+label{
    height: 15px;
}



i.extra-large {
    font-size: 9rem;
}

.academic-logo-login {
    margin-top: 7%;
    height: 200px;
}

.academic-logo-home {
    margin-top: 5%;
    height: 300px;
}

#event {
    width: 30%;
}

#calendar-modal {
    width: 25%;
}

.modal {
    overflow: visible !important;
}

.modal-header {
    border-radius: 0 0 2px 2px;
    padding: 8px 8px;
    height: 65px;
    width: 100%;
}

.modal-header .event-title, .modal-header .calendar-title {
    margin-top: 10px;
}

.modal-header .event-edit {
    margin-top: 30px;
}

.modal-header .event-title-text, .modal-header .calendar-title-text {
    font-size: 1.5rem;
}

.modal-header .edit-button-event {
    cursor: pointer
}

.modal-content .row-content {
    margin-top: 10px;
}

[type="radio"]:checked+label:after {
    border: 2px solid #03a9f4 !important;
}

[type="radio"]:checked+label:after {
    background-color: #03a9f4 !important;
}

.square[type="radio"]:not(:checked)+label:before, .square[type="radio"]:not(:checked)+label:after, .square[type="radio"]:checked+label:before, .square[type="radio"]:checked+label:after, .square[type="radio"].with-gap:checked+label:before, .square[type="radio"].with-gap:checked+label:after {
    border-radius: 0;
    margin-top: 10px;
}

[type="radio"]+label:before, [type="radio"]+label:after {
    width: 20px;
    height: 20px;
}

.selected-td {
    background-color: #e3f2fd !important;
}

.list-table tbody {
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}

.list-table tbody tr {
    cursor: pointer;
}

.list-table.highlight>tbody>tr:hover {
    background-color: #e3f2fd;
}

.calendar-collection {
    margin-top: 0;
    box-shadow: none;
    overflow: visible !important;
}

.calendar-collection .collection-item {
    padding: 10px 0px 0px 0px;
}

.calendar-collection [type="checkbox"]+label {
    margin-top: 2px !important;
}

.collapsible-calendars {
    margin-right: 0 !important;
    line-height: 3.2rem !important;
}

#calendars-collapsible-header i {
    margin-right: 0;
}

.secondary-content [type="checkbox"]+label {
    padding-left: 20px;
    height: 14px;
}


/*---------------- MEDIA ------------------------*/

@media only screen and (max-width : 768px) {
    table tbody tr td i {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .page-title, .academic-navbar {
        font-size: 1.3rem !important;
    }
    #left_section_header {
        padding-top: 20px;
    }
    #middle_section_header {
        padding-top: 0;
    }

    #right_section_header {
        padding-top: 0;
    }

    .modal {
        width: 100%;
        max-height: 100%;
        height: 100%;
        top: 0 !important;
    }

    .modal-content {
        height: calc(100% - 56px);
    }

    .modal.modal-fixed-footer {
        height: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .modal {
        width: 100% !important;
    }

    #calendar-panel > .col {
        padding-top: 30px;
    }
}

@media only screen and (min-width: 993px) {
    #calendar-panel > .col {
        padding-top: 75px;
    }
}


/*---------------- FULLCALENDAR ------------------*/
.fc-head, .fc-body {
    background-color: white;
}

.fc-day-header {
    text-align: left !important;
    padding: 8px !important;
    text-transform: uppercase;
    font-weight: 400;
}

.fc-day-grid-event {
    border-radius: 2px;
    margin: 0 2px 2px 2px;
    padding: 10px;
    cursor: pointer;
}

.fc-unthemed .fc-today {
    background: #eeeeee;
}

.fc-event {
    font-size: 1em;
}

.fc-toolbar {
    display: none;
}
.fc-day {
    cursor: pointer;
}

.fc-day:hover {
    background-color: #eeeeee;
}
/*-----------COLORS FROM EVENT ------------- */
.default-event {
    background-color: #9fe1e7 !important;
}

.light-blue-event {
    background-color: #a4bdfc !important;
}

.light-green-event {
    background-color: #7ae7bf !important;
}

.light-pink-event {
    background-color: #dbadff !important;
}

.light-red-event {
    background-color: #ff887c !important;
}

.yellow-event {
    background-color: #fbd75b !important;
}

.light-orange-event {
    background-color: #ffb878 !important;
}

.water-blue-event {
    background-color: #46d6db !important;
}

.grey-event {
    background-color: #e1e1e1 !important;
}

.blue-event {
    background-color: #5484ed !important;
}

.green-event {
    background-color: #51b749 !important;
}

.red-event {
    background-color: #dc2127 !important;
}

.light-blue-event[type="radio"]:not(:checked)+label:before {
    border: 2px solid #a4bdfc !important;
}

.light-blue-event[type="radio"]:checked+label:after {
    border: 2px solid #a4bdfc !important;
    background-color: #a4bdfc !important;
}

.light-green-event[type="radio"]:not(:checked)+label:before {
    border: 2px solid #7ae7bf !important;
}

.light-green-event[type="radio"]:checked+label:after {
    border: 2px solid #7ae7bf !important;
    background-color: #7ae7bf !important;
}

.light-pink-event[type="radio"]:not(:checked)+label:before {
    border: 2px solid #dbadff !important;
}

.light-pink-event[type="radio"]:checked+label:after {
    border: 2px solid #dbadff !important;
    background-color: #dbadff !important;
}

.light-red-event[type="radio"]:not(:checked)+label:before {
    border: 2px solid #ff887c !important;
}

.light-red-event[type="radio"]:checked+label:after {
    border: 2px solid #ff887c !important;
    background-color: #ff887c !important;
}

.yellow-event[type="radio"]:not(:checked)+label:before {
    border: 2px solid #fbd75b !important;
}

.yellow-event[type="radio"]:checked+label:after {
    border: 2px solid #fbd75b !important;
    background-color: #fbd75b !important;
}

.light-orange-event[type="radio"]:not(:checked)+label:before {
    border: 2px solid #ffb878 !important;
}

.light-orange-event[type="radio"]:checked+label:after {
    border: 2px solid #ffb878 !important;
    background-color: #ffb878 !important;
}

.water-blue-event[type="radio"]:not(:checked)+label:before {
    border: 2px solid #46d6db !important;
}

.water-blue-event[type="radio"]:checked+label:after {
    border: 2px solid #46d6db !important;
    background-color: #46d6db !important;
}

.grey-event[type="radio"]:not(:checked)+label:before {
    border: 2px solid #e1e1e1 !important;
}

.grey-event[type="radio"]:checked+label:after {
    border: 2px solid #e1e1e1 !important;
    background-color: #e1e1e1 !important;
}

.blue-event[type="radio"]:not(:checked)+label:before {
    border: 2px solid #5484ed !important;
}

.blue-event[type="radio"]:checked+label:after {
    border: 2px solid #5484ed !important;
    background-color: #5484ed !important;
}

.green-event[type="radio"]:not(:checked)+label:before {
    border: 2px solid #51b749 !important;
}

.green-event[type="radio"]:checked+label:after {
    border: 2px solid #51b749 !important;
    background-color: #51b749 !important;
}

.red-event[type="radio"]:not(:checked)+label:before {
    border: 2px solid #dc2127 !important;
}

.red-event[type="radio"]:checked+label:after {
    border: 2px solid #dc2127 !important;
    background-color: #dc2127 !important;
}

.select-colors ul li:nth-child(2) {
    background-color: #a4bdfc !important;
}

.select-colors ul li span {
    color: white;
}

.select-colors ul li:nth-child(3){
    background: #7ae7bf;
}

.select-colors ul li:nth-child(4){
    background: #dbadff;
}

.select-colors ul li:nth-child(5){
    background: #ff887c;
}

.select-colors ul li:nth-child(6){
    background: #fbd75b;
}

.select-colors ul li:nth-child(7){
    background: #ffb878;
}

.select-colors ul li:nth-child(8){
    background: #46d6db;
}

.select-colors ul li:nth-child(9){
    background: #e1e1e1;
}

.select-colors ul li:nth-child(10){
    background: #5484ed;
}

.select-colors ul li:nth-child(11){
    background: #51b749;
}

.select-colors ul li:nth-child(12){
    background: #dc2127;
}