<md-dialog aria-label="Novo Calendário">
    <form ng-cloak id="calendar-store-form" name="calendar-store-form" class="bigger-font-size">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="vm.closeModal()">
                    <md-icon class="material-icons" aria-label="Fechar">clear</md-icon>
                </md-button>
                <h2>Novo Calendário</h2>
                <span flex></span>
                <md-button ng-click="vm.storeCalendar()">Concluído</md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row" layout-align-gt-xs="center center" layout-wrap>
                    <md-input-container flex="100">
                        <label>Título</label>
                        <input ng-model="vm.calendarCreate.summary" required type="text" name="summary" id="summary" ng-maxlength="255" md-autofocus>
                        <div ng-messages="calendar-store-form.summary.$error" role="alert" multiple="multiple" class="md-input-messages-animation md-auto-hide ng-active"
                             aria-live="assertive">
                            <div ng-message="required" class="md-input-message-animation ng-scope">
                                <span>Este campo é necessário</span>
                            </div>
                            <div ng-message="maxlength" class="md-input-message-animation ng-scope">
                                <span>Este campo deve conter no máximo 255 caracteres</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="100" ng-show="vm.isTeacher">
                        <label>Turma</label>
                        <md-select ng-model="vm.calendarCreate.team" name="team" id="team">
                            <md-option ng-repeat="team in vm.teams" value="{{team.id}}">
                                {{team.year}}º Ano - <span hide-xs>{{team.name}}</span><span hide-gt-xs>{{team.abbreviation}}</span>
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <div ng-show="!vm.isTeacher" flex="100">
                        <label>Alunos para convidar</label>
                        <md-list>
                            <md-list-item ng-repeat="user in vm.users" class="noright">
                                <img alt="Foto" ng-src="{{user.profile_image}}" class="md-avatar" />
                                <p>{{user.name}}</p>
                                <md-tooltip md-direction="right" ng-if="!vm.calendarCreate.role">Selecione uma permissão para convidar</md-tooltip>
                                <md-checkbox class="md-secondary" ng-click="vm.toggleUser(user)" ng-model="user.selected"></md-checkbox>
                            </md-list-item>
                        </md-list>
                        <br>
                        <label>Permissão dos convidados</label>
                        <br><br>
                        <md-radio-group ng-model="vm.calendarCreate.role">
                            <md-radio-button value="reader">Visualizar Detalhes de Eventos</md-radio-button>
                            <md-radio-button value="writer">Visualizar e Editar Detalhes de Eventos</md-radio-button>
                            <md-radio-button value="owner">Editar e Compartilhar Calendário</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>