.collection-item {
    min-height: 60px;
    line-height: 2.7rem !important;
    font-size: 16px;
}

.collection-item i {
    line-height: 2.8rem !important;
    font-size: 1.7rem;
}

[type="checkbox"].filled-in:not(:checked)+label:after {
    height: 22px;
    width: 22px;
}

[type="checkbox"].filled-in:checked+label:after {
    width: 22px;
    height: 22px;
}

[type="checkbox"].filled-in:checked+label:before {
    width: 8px;
    height: 15px;
}

.collection-item .row {
    margin-bottom: 0;
}

.calendar-summary {
    margin-top: 2px;
}

@media only screen and (max-width : 768px) {
    .collection-item {
        min-height: 100px;
        line-height: 6.3rem !important;
        font-size: 18px;
    }

    .calendar-summary {
        margin-top: 0;
    }

    .collection-item i {
        line-height: 6.3rem !important;
        font-size: 2rem;
    }


    .row #no-side-margin {
        padding: 0;
    }

    [type="checkbox"]+label {
        margin-bottom: 2px;
    }

    [type="checkbox"].filled-in:not(:checked)+label:after {
        height: 25px;
        width: 25px;
    }

    [type="checkbox"].filled-in:checked+label:after {
        width: 25px;
        height: 25px;
    }

    [type="checkbox"].filled-in:checked+label:before {
        width: 10px;
        height: 17px;
    }


}