<div layout="row" layout-align="center center" flex="100" style="margin-top: 1%;">
    <div flex-xs="100" flex-sm="100" flex-gt-sm="80">
        <md-button class="md-fab" aria-label="Voltar" ng-click="vm.back()">
            <md-icon class="material-icons">arrow_back</md-icon>
        </md-button>
    </div>
</div>

<div layout="row" layout-align="center center" flex="100" style="margin-top: 1%;">
    <div flex-xs="100" flex-sm="100" flex-gt-sm="80">
        <md-table-container md-whiteframe="1" class="white">
            <table md-table md-row-select multiple md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th md-column md-order-by="nameToLower"><span>Atividade</span></th>
                        <th md-column md-order-by="calories.value"><span>Total</span></th>
                        <th md-column><span>Peso</span></th>
                        <th md-column><span>Nota</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="activity in vm.activities">
                        <td md-cell>{{activity.event.summary}}</td>
                        <td md-cell>{{activity.activity.total_score}}</td>
                        <td md-cell>{{activity.activity.weight}}</td>
                        <td md-cell>{{activity.activity.pivot.grade}}</td>
                    </tr>
                    <tr md-row>
                        <td md-cell colspan="3">Total</td>
                        <td md-cell>{{vm.activities[0].partial}}/{{vm.activities[0].total}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</div>